name: "test pull request"

on:
  push:
    branches-ignore:
      - "main"
  pull_request:
    branches:
      - "main"

env:
  IMAGE_NAME: "drone-runner-docker"
  RUNNER_VERSION: "v1.8.5" # renovate: datasource=github-tags depName=drone-runners/drone-runner-docker
  TMATE_VERSION: "2.4.0" # renovate: datasource=github-tags depName=tmate-io/tmate

jobs:
  build-multi-arch-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - arm/v6
          - arm/v7
          - arm64
          - amd64
    services:
      registry:
        image: registry:3@sha256:cd92709b4191c5779cd7215ccd695db6c54652e7a62843197e367427efb84d0e
        ports:
          - 5000:5000
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          driver-opts: network=host

      - name: Set docker build args
        id: build_args
        run: |
          if [ $(echo "${{ matrix.platform }}" | grep -F "arm/") ]; then

            echo "arch=arm" >> $GITHUB_OUTPUT
            echo "arch_aux=32" >> $GITHUB_OUTPUT

            if [ "${{ matrix.platform }}" == "arm/v6" ]; then
              echo "variant=v6" >> $GITHUB_OUTPUT
            elif [ "${{ matrix.platform }}" == "arm/v7" ]; then
              echo "variant=v7" >> $GITHUB_OUTPUT
            fi

          elif [ "${{ matrix.platform }}" == "arm64" ]; then
            echo "arch=arm64" >> $GITHUB_OUTPUT
            echo "variant=v8" >> $GITHUB_OUTPUT

          else
            echo "arch=amd64" >> $GITHUB_OUTPUT
          fi

      - name: Normalise tags
        id: normalise_tags
        run: |
          if [ "${{ matrix.platform }}" == "arm/v6" ]; then
            echo "TAGS=arm32v6" >> $GITHUB_OUTPUT
          elif [ "${{ matrix.platform }}" == "arm/v7" ]; then
            echo "TAGS=arm32v7" >> $GITHUB_OUTPUT
          elif [ "${{ matrix.platform }}" == "arm64" ]; then
            echo "TAGS=arm64" >> $GITHUB_OUTPUT
          else
            echo "TAGS=${{ matrix.platform }}" >> $GITHUB_OUTPUT
          fi

      - name: Build image
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/${{ matrix.platform }}
          push: true
          tags: |
            localhost:5000/${{ env.IMAGE_NAME }}:${{ env.RUNNER_VERSION }}-linux-${{ steps.normalise_tags.outputs.TAGS }}-test
          file: Dockerfile
          build-args: |
            RUNNER_VERSION=${{ env.RUNNER_VERSION }}
            TMATE_VERSION=${{ env.TMATE_VERSION }}
            ARCH=${{ steps.build_args.outputs.arch }}
            ARCH_AUX=${{ steps.build_args.outputs.arch_aux }}
            VARIANT=${{ steps.build_args.outputs.variant }}

      - name: Test image
        run: |
          docker run --rm --platform linux/${{ matrix.platform }} localhost:5000/${{ env.IMAGE_NAME }}:${{ env.RUNNER_VERSION }}-linux-${{ steps.normalise_tags.outputs.TAGS }}-test@${{ steps.build.outputs.digest }} --help
